* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

header {
  background-color: rgba(53, 63, 111, 0.7);
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin: 0 20px;
}

header>h1, header>h2 {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background: linear-gradient(rgba(229, 225, 225, 0.5), rgba(255, 253, 253, 0.7)), url(../images/paper.jpg) center no-repeat fixed;
	background-size: cover;
  font-size: 1.8rem;
  margin: 0;
}

#container {
  max-width: 1250px;
  margin: 10px auto;
}

h4 {
  text-align: center;
  margin: 5px 0;
}

.parametri {
  margin: 10px auto;
}

.cornice {
  border-color: #15bd90;
  border-style: solid;
  border-radius: 1rem;
  padding: 10px;
  margin: 10px;
}

.resultsfield {
  margin: 15px auto;
}

.bottoni {
  text-align: center;
}

.button {
  background: #15bd90;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 50px;
  padding: 14px 28px;
  border: solid 1px #15bd90;
  cursor: pointer;
}

textarea, label, input {
  vertical-align: middle;
  font-size: 1.6rem;
  max-width: 100%;
}

@media only screen and (min-width: 992px) {
  .button {
    background: transparent;
    color: #15bd90;
    transition: all 0.3s;
  }

  .button:hover {
    background: #15bd90;
    color: #fff;
  }
}
